.slider {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to bottom, #00000000, #000000b5), url(../../assets/bg-slide.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider h1 {
    color: #fff;
    font-weight: 900;
}

@media (max-width: 550px) {
    .slider h1 {
        font-size: 2rem;
        padding-left: 10px;
    }
}